
/* Home Page */
.navbar {
    background-color: #a09a179e;
}
.navbar-brand {
    font-family: 'Comfortaa', cursive; 
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.navbar-brand:hover {
    color: #6a4e3b; /* matching search button hover */
}
#cat-logo {
    margin-top: 2px;
}
#search-form {
    margin-left: auto; /* Push search bar to the right */
}
#add {
    font-family: 'Comfortaa', cursive; 
    font-size: 15px;
    color: white;
}
.navbar-nav .nav-link:hover {
    color: #6a4e3b;
}

/* Search button */
.btn-outline-success {
    color: white; /* Text color */
    background-color: #3938127a;
    border-color: #313608;
    margin-left: 10px;
    border-radius: 10px;
}
/* Hover effect*/
.btn-outline-success:hover {
    background-color: #6a4e3b; /* Change background color on hover */
    border-color: #3d2719; /* Retain border color on hover */
    color: white; /* Change text color on hover */
}
#welcome {
    font-family: 'Comfortaa', cursive; 
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin: 30px;
}
.gray-text {
    color: gray;
}
.conceptual-group {
    display: flex;
}
.mimi-photo {
    max-width: 700px; /* Adjust the maximum width of the image */
    margin: 0 auto; /* Center the image horizontally */
    flex: 1;
    border-radius: 15px;
}
.description {
    margin-top: 20px; /* Adjust spacing between image and text */
    font-size: 18px; /* Adjust font size of the description */
    flex: 1;
    padding-right: 20px;
    font-family: inherit;
}
#why {
    font-weight: bold;
    margin-bottom: 8px !important;
}
#popular-title {
    padding-left: 10px;
    font-size: 2rem;
    font-family: 'Comfortaa';
    text-align: center;
    font-weight: bold;
    background-color: #a09a174a;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right-width: 10px;
    padding-right: 10px;
}
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#popular-items {
    margin-top: 25px;
}
.item {
    border-radius: 15px;
    border: 1px solid #6a4e3b;
}
.stars::before {
    /* content: '★★★★★';  */
    letter-spacing: 1px;
    /* color: gold;  */
}
.checked {
    color: gold !important;
}
.fa-star {
    color: lightgray; /* Color for empty stars */
}

/* View Item Page */
.item-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}
.item-details {
    display: flex;
    align-items: flex-start;
}
.item-image img {
    max-width: 700px;
    height: auto;
    border: 1px solid #5e5b169e;
    padding: 15px;
}
.item-info {
    margin-left: 70px;
}
.item-info h2 {
    margin-top: 0;
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
}
.item-info p {
    margin-top: 5px;
}
.item-review {
    font-size: 18px;
    color: gray;
}
.item-review-title {
    margin-top: 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
}
.item-alternatives {
    font-weight: bold;
    font-size: 18px;
    margin-top: 16px;
}
.item-alt-list {
    color: gray;
    font-size: 16;
}
.item-rating {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
#rating-number {
    color: gray;
    margin-left: 10px;
}
.item-description {
    margin-top: 20px;
}
.item-description h3 {
    margin-top: 0;
    font-size: 1.50rem;
}
.item-description p {
    margin-top: 5px;
}
.display {
    display: inline-block;
}
.edit-button {
    margin-left: 500px;
    background-color: whitesmoke;
    color: #5e5b169e;
    border: 2px solid #5e5b169e;
}
.edit-button:hover {
    background-color: #5e5b169e;
    color: whitesmoke;
}

/* Search Results Page */
.highlight {
    background-color: yellow;
    font-weight: bold;
}
.small-text {
    color: lightgray;
    font-size: small;
}
.search-results-title {
    margin-top: 15;
}
.search-result-names {
    font-size: 20px;
}
.underline {
    text-decoration: underline;
}
.margin-ten {
    margin-bottom: 10px;
}
.add-item-title {
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-control {
    border: 1px solid lightgray;
}
.lightgray-text {
    color: lightgray;
}
.submit-button {
    color: white; /* Text color */
    background-color: #3938127a;
    border-color: #313608;
    margin-bottom: 20px;
    border-radius: 10px;
}
.submit-button:hover{
    background-color: #6a4e3b; 
    border-color: #3d2719; 
    color: white; 
}
.discard-button {
    background-color: whitesmoke;
    color: #5e5b169e;
    border: 2px solid #5e5b169e;
    border-radius: 10px;
    padding-bottom: 6px;
    margin-bottom: 18px;
    margin-left: 10px;
}
.button-container {
    margin-bottom: 10px;
}

