#search-form {
    margin-left: auto; /* Push search bar to the right */
}
#welcome {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}
#descr {
    text-align: center;
    font-size: 18px;
}

.item {
    width: 200px;
    margin: 10px; 
    display: inline-block;
}
#popular-title {
    padding-left: 10px;
    padding-top: 20px;
}
