<!-- search.html -->
{% extends "layout.html" %}
{% block content %}
<h1 class="search-results-title">Search Results</h1>
<p>Showing results for "{{ query }}"</p>
<div id="search-results">
    {% if results %}
        <ul>
            {% for item in results %}
                <li class="margin-ten">
                    <a href="{{ url_for('view_item', id=item.id) }}" class="search-result-names">{{ item.title|highlight(query)|safe }}</a>
                    {% if item.description %}
                        <div class="small-text"><span class="underline gray-text">Description:</span> {{ item.description|highlight(query)|safe }}</div>
                    {% endif %}
                    {% if item.review %}
                        <div class="small-text"><span class="underline gray-text">Review:</span> {{ item.review|highlight(query)|safe }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}
